<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>06/04/2020</title>
</head>
<body>
    <h1>Deseja mesmo deletar?</h1>
    <form action="/deletar/<%= id %> " method="POST"><button>Sim</button></form>
    <form action="/resultado"><button>Não</button></form>

</body>
</html>
   
</body>
</html>