<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>06/04/2020</title>
</head>
<body>
    <h1>Formulário:</h1>
    <div>
        <form action="/formulario" method="POST">
            <label for="nome">Nome:</label><br>
            <input required type="text" name="nome"><br><br>
            <label for="cargo">Cargo:</label><br>
            <input required type="text" name="cargo"><br><br>
            <label for="digitos">Dígitos:</label><br>
            <input required type="text" name="digitos"><br><br>
            <button type="submit">Enviar</button>
        </form>
    </div>

</body>
</html>