<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle-PJe</title>
</head>
<body>
    <h1>Incluir novo processo:</h1>

    <form action="/novoprocesso" method="post">
        <label for="numero">Número:</label>
        <input type="text" name="numero" id="numero" required><br>
        Classe: <br>

        <select id="seletor" name="classe" required a>
            <option value=>Escolha</option>
            <option value="Usucapião">Usucapião</option>
            <option value="Inventário">Inventário</option>
            <option value="Ação Civil Pública">Ação Civil Pública</option>
            <option value="Outros">Outros</option>
          </select> 
        <button type="submit">Enviar Processo</button>
      </form><br><br><br><br>
      <form action="processos" method="GET">
          <button type="submit">Voltar</button>
      </form>


</body>
</html>