<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle-PJe</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <div class="processos">
        <form action="/novoprocesso" method="GET">
            <button type="submit">Incluir novo processo</button>
        </form><br>
        <form action="/processos" method="GET">
            <button type="submit">VER TODOS</button>
        </form><br>
        
        <% urgentes.forEach(element => { %>
    
            <div class="urge">Número: <%= element.numero %></div>
            Classe: <%= element.classe %><br>
            <form action="/processo/<%= element._id %> " method="GET">
                <button>Ver dados completos</button>
            </form><br><br><hr>
         
        <% }) %>
    </div>
  

</body>
</html>